/* Resume Section */
#resume {
  padding: 45px 10%;
  background: #0f1116;
  color: #fff;
}

.resume-container {
  padding: 25px 14px;
  justify-items: center;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.resume-title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}
.education{
  display: flex;
  gap: 36px;
}

.book{
  background-color: #2f3239;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

/* .line{
  height: 165px;
  width: 4px;
  background-color: #2f3239;
  position: relative;
  left: 25px;
  border-radius: 5px;
  justify-items: center;
}

.dot{
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #4ad991;
  border-radius: 25px;
}

.dot-1{
  position: relative;
  top: 22px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(222, 10%, 20%);
  border-radius: 25px;
}

.dot-2{
  position: relative;
  top: 74px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3239;
  border-radius: 25px;
}

.dot-3{
  position: relative;
  top: 127px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3239;
  border-radius: 25px;
} */


.timeline-item{
  position: relative;
}

.timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -62px;
    width: 4px;
    height: calc(100% + 50px);
    background-color: #2f3239;
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -64px;
    height: 8px;
    width: 8px;
    background-color: #4ad991;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #2e3138;
}



.edu{
  margin: 5px 0;
}

/* Education & Experience */
.education h3 {
  font-size: 24px;
  margin: 0px 0 20px;
  color: #4ad991;

}

.education ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.education li {
  margin-bottom: 16px;
  color: #aaa;
  line-height: 1.6;
  font-size: 16px;
}

.education strong {
  color: #fff;
}

.experience h3 {
  font-size: 22px;
  margin: 20px 0 10px;
  color: #4ad991;
  
}

.experience p {
  color: #aaa;
  font-size: 16px;
}

